* {
    font-family: 'Teko', sans-serif;
    font-size: 22px;
}

#user {
    color: seashell;
}

body {
   
    
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #welcome {
      width: fit-content;
      margin-right: 5px;
      margin-bottom: 0;
  }

.field, .greeting {
    font-family: 'Teko', sans-serif;
    font-size: 22px;
    
}
