* {
  font-family: 'Teko', sans-serif;
  font-size: 22px;
}

.container {
  background-color: white;
  margin-top: 0;
}

#user {
  color: seashell;
}

body,
html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("/static/images/papyrus-dark.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin-top: 10px;
  margin-left: 10px;
  display: inline-block;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
}

p {
  margin: 0;
}

.message_tag {
  margin-top: 10px;
}

.main_car {
  height: auto;
  width: 200px;
}

.my-custom-scrollbar {
  position: relative;
  height: 300px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}