{% extends 'main_page.html' %}


{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/featured_story.css' %}">
<div class="container">
    <div class="col-12">
        <div class="topic_header mb-4">
            <h1 class="mt-5">What does MR-2 mean anyways?</h1>
            <h2>Featured story</h2>
        </div>
        <div class="header">
            <img id="header_image" src="/static/images/mr2.jpg" alt="mr2">
        </div>
        <div class="main_content">
            <p>
                The first generation MR2 was a rather lightweight car, with a kerb weight of around 900-940 kgs in Japan
                and just over a tonne in America (once again, the JDM received a significantly better car, with almost
                100kgs less!). Toyota received help from Lotus for the suspension of the MR2s which owes much the sports
                cars Lotus produced from 1960 to 1970. Toyota had a quite advanced active-suspension technology, called
                TEMS (Toyota Electronic Modulated Suspension), which was installed on top-level Toyota products with
                four wheel independent suspension, giving more comfort and stability thanks to its continuous damping
                control, which was not added to the MR2…

                Now for the fun part, the MR2 was equipped with a 1.6L 4A-GE, DOHC, 16v NA Inline 4 engine, Toyota being
                themselves, equipped the 4A-GE with DENSO technology, adding the “T-VIS” system (variable intake
                geometry), improving low-end torque by changing the geometry of the intake manifold according to the
                engine’s speed, thus, giving the MR2 a power output of 112 Bhp in America, 120 Bhp in Europe and 130 Bhp
                in Japan. (Did I mention the 4A-GE is one great engine?) The engine received a lot of good reputation, I
                mean, there are people still buying and using them. Toyota upgraded the engine some years later to a
                4A-GZE with a small roots supercharger, making the car a little heavier than before.

                The car was constantly being upgraded, with modifications such as new stetic parts, some new routings
                for the air intakes and structural rigidity. Interior wise the car was pretty standar, very 80s dials, a
                three-spoked wheel and some pretty comfy-looking seats.</p>
        </div>
        <hr>
        <div class="sub_content">
            <div class="row">
                <div class="col-6">
                    <p>MK1a and MK1b are unofficial designations, but are frequently used by owners and vendors to
                        distinguish between early production vehicles and later face-lifted models. While there are
                        considerable differences detailed below, the most notable being that rear suspension components
                        are not interchangeable between the MK1a and MK1b cars.
                        <hr>
                        MK1a – June 1984 (MY 1985)
                        Original introduction

                        June 1985 (MY 1986)[18]
                        Japanese model changes:
                        Supercharged model introduced, offered with four-speed A/T or five-speed M/T
                        T-bar roof option available
                        Color-keyed front lip and bumpers, side stripes, mudflaps, side skirts option now available
                        Mudflap removed for models equipped with "Aerodynamic Spoiler Package" as the side skirts are
                        full-length along the side
                        Rear sunshade with TOYOTA logo above rear window added
                        Third brake light added
                        Leather interior option now available
                        Bigger 212 mm flywheel and clutch for naturally aspirated models
                        Rear anti-roll bar discontinued on North American models
                        MK1b Facelift – August 1986 (MY 1987)[18]
                        Powertrain changes:
                        Naturally aspirated 4A-GE now upgraded with a "7-rib" structural design as well as larger 42 mm
                        (1.65 in) connecting rods. North American 4A-GE is also now rated at 115 hp (86 kW).
                        Intake camshaft valve cover now has the "16 Valve" portion in red instead of blue (this is not
                        to be confused with the smallport third generation 4A-GE where the intake camshaft cover
                        lettering has the entire "Twin Cam 16 Valve" in red)
                        EGR port repositioned on exhaust manifold to prevent cracking
                        Revised manual transmission internals.
                        Air filter rerouted to the trunk and continues around the trunk towards the air vent on the
                        opposite side of the engine bay.
                        Chassis changes:
                        Slight unibody changes
                        Radiator tilted back at an angle to force air down towards the bottom of the car
                        Revised rear suspension
                        Larger 258 mm (10.16 in) front and 262 mm (10.31 in) rear brake rotors
                        New tail lights (UK models retained old tail light design with different integrated reflector)
                        New front lip and front bumper
                        Radio antenna moved to rear right quarter panel for t-top/sunroof models
                        T-bar roof available in North America and Europe
                        Interior changes:
                        LHD models now has parking brake on the right side
                        New center console, center armrest
                        Glovebox lock
                        Double-din radio, rear speakers added to the upper C pillar
                        Door panels, three-spoke steering wheel, gauge cluster markings
                        Seat changed to single-color velour and perforations added for leather seats
                        1987 (MY 1988)
                        Supercharged model available in North America
                        Color-coded side mirrors and new engine lid for supercharged models
                        Full-length side skirts now standard on all models
                        <hr>
                        1989 Toyota MR2 Supercharged (North American Model)
                        1988 (MY 1989)
                        T-bar glass panels changed from smoked (clear) to mirrored (opaque)
                        Color-code door handle and side mirrors for all models
                        Incandescent third brake lamp replaced by LED strip integrated into the rear spoiler
                        More aerodynamic wing mirrors introduced, with optional power retract mechanism
                        North American supercharged models equipped with rear anti-roll bar
                        The changes in MY 1986 and MY 1987 occurred in parts. Instead of a drastic change in MY 1987
                        models for the above MK1b upgrades, some MK1a parts continued on in early MY 1987 cars while
                        some MK1b parts came on MY 1986 cars as options. An example is that some MY 1987 cars still
                        retained the old "flat" front bumper despite having MK1b upgrades everywhere else on the car.
                        Some early MY 1987 7-rib engines came with the earlier blue top valve cover.[19] This was also
                        noticed in the rear sway bar removal for the MY 1986. Some MY 1986 cars have a rear sway bar,
                        while the mounting tabs on the strut housing were either there for both sides, only one side, or
                        none at all depending on when Toyota ran out of the older rear struts with mounting tabs as
                        production used up parts.[18]</p>
                </div>
                <div class="col-6">
                    <div class="row">
                        <img id="sub_content_image" src="/static/images/mr2stock.jpg" alt="stockmr2">
                    </div>
                    <div class="row">
                        <h2 class="mt-2">Are they Dangeous?</h2>
                        <p>There is no doubt that MR2s are more dangerous than many other cars – especially the first
                            two generations with their older design, limited (or nonexistent) safety features and
                            relatively high power outputs.

                            A tendency to snap oversteer, little in the way of protection, and the lightweight, compact
                            nature of the vehicles makes them not only more likely candidates for a crash, but also more
                            likely to cause injury/death in the event of an accident.

                            Does this mean you should avoid buying an MR2?

                            We don’t think so. All three generations are fantastic vehicles in their own right, and if
                            you buy a good example you can enjoy some of the finest examples of Japanese performance
                            motoring to have ever graced the roads.</p>
                    </div>
                    <div class="row">
                        <img id="sub_content_image" src="/static/images/dscn3475overrside2.jpg" alt="aw11colors">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>












{% endblock %}